.button {
  border: none;
  background-color: #7575fa;
  color: #fff;
  padding: 10px;
  transition: all .4s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  &:hover {
    background-color: #fcd5a1;
    color: #000;
  }
}
