.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text {
  text-align: center;
  font-size: 30px;
}

.button {
  display: flex;
  justify-content: center;
}
