.card {
  max-width: calc(100% - 20px);
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;
  transition: all .4s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #7575fa;
    color: #fff;
  }
}

.title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.body {
  font-size: 14px;
}
