.container {
  max-width: var(--max-width);
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  max-width: 600px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 20px;
}

.text {
  font-size: 15px;
  color: #808080;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  border-radius: 5px;
  box-shadow: 0 0 10px 0px rgba(0,0,0,0.3);
  padding: 5px;
}
